<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseComponent.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=SSPI"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseComponent.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=MATTHEWM;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseComponent.Properties.Settings.pubsConnectionString"
            connectionString="Data Source=MATTHEWM;Initial Catalog=pubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseComponent.Properties.Settings.NorthwindConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\MIB\Desktop\Training ASP.NET. Winter 2013\Day 12\ADO.NET.2\ADO.NET.2\Website\App_Data\Northwind.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>