<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Northwind"
         connectionString="Data Source=.\SQLEXPRESS;
         AttachDbFilename=|DataDirectory|\Northwind.mdf;
         User Instance=True;Integrated Security=SSPI" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="factory" value="System.Data.SqlClient"/>
    <add key="employeeQuery" value="SELECT * FROM Employees"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
  </system.web>
</configuration>