@{
    ViewBag.Title = "Index";
}

@section Body
{
    <h2>Index View</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit fusce vel sapien elit in malesuada semper mi, 
        id sollicitudin urna fermentum ut fusce varius nisl 
        ac ipsum gravida vel pretium tellus.       
    </p>
}

@section Footer
{
    <footer>
        All rights reserved. 
        <a href="mailto:support@cbsystematics.com">support</a>
    </footer>    
}
