@{
    ViewBag.Title = "Index RenderSections";
}

@section Header{
    <h1>
        <b>Header</b> представления Index
    </h1>
}
@section Body{
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit 
        fusce vel sapien elit in malesuada semper mi, id 
        sollicitudin urna fermentum ut fusce varius nisl 
        ac ipsum gravida vel pretium tellus.       
    </p>
}
@section Footer{
    <h3>
        <b>Footer</b> представления Index
    </h3>
}


