<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind" connectionString="Data Source=.\SQLEXPRESS;
         AttachDbFilename=C:\Users\MIB\Desktop\ASP.NET MVC 4 Training Spring 2014\Day 12\ADO.NET.2\ADO.NET.2\Website\App_Data\Northwind.mdf;
         Integrated Security=True;User Instance=True;">
    </add>
  </connectionStrings>
</configuration>