@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form action="Create" method="post">
            <div>
                <label>Введите имя </label>
                <input type="text" name="Name" id="Name" />
            </div>

            <div><label for="Message">Введите комментарий </label></div>
            <div>    
                <textarea rows="10" cols="30" name="Message" id="Message"></textarea>
            </div>
               
            <div><input type="submit" value="Add" /></div>                
        </form>
</div>
</body>
</html>






